{% load fe_manager %}

{% fe_manager_add_module 'parent1' %}
{% block fe_manager %}
{% endblock fe_manager %}

<html>
    <head>
        {% fe_manager_output_css %}
    </head>
    <body>
        {% fe_manager_output_js %}
    </body>
</html>